.aboutContent {
   display: flex;
   flex-direction: column;
   background-size: 100%;
   background-color:rgba(27, 12, 25, 0.667);
   border: 1rem double rgb(21, 48, 24);
   border-radius: 10rem;
   margin-top: 0.5rem;
   margin-left: 2rem;
   margin-right: 2rem;
}

.profilePicture {
   display: flex;
   justify-content: center;
   padding-top: 3rem;
}

.profilePicture img {
   border: none; /* No default border */
   box-shadow: 0 0 0 0.5rem rgb(21, 48, 24), 0 0 0 1rem rgb(9, 21, 10); /* Layered border effect */
   border-radius: 50%; /* Circular border for round images (optional) */
}

.description {
   display: flex;
   justify-content: center;
   color: white;
   padding-top: 3rem;
   font-size: 3vw;
   font-family: 'Queen Serif';
   margin: 0;
   padding-left: 2rem;
   padding-right: 2rem;
   padding-bottom: 5rem;
}

.aboutDiv {
   display: flex;
   justify-content: center;
}

.formInput {
   display: flex;
   justify-content: center;
}
