@font-face {
   font-family: 'Prida02calt';
   src: url(..Acc\Prida02calt-j3zO.otf) format('truetype');
}

.homeContent {
   display: flex;
   justify-content: center;
   color: white;
   align-items: center;
   padding-top: 18rem;
   font-family: 'Prida02calt';
   margin: 0;
   width: 100vw;
}

.welcomeTitle {
   display: flex;
   justify-content: center;
}
